@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  @include flex-center();
  font-size: 0.8em;
  color: $grayDark;
  height: 48px;

  &__link {
    color: $grayDark;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: $orange;
    }

    &:active {
      color: $blue;
    }
  }
}