<div class="drink-search">
  <div class="drink-search__form">
    <div class="drink-search__form-inner">
      <div class="drink-search__form-core">
        <form [formGroup]="searchForm" (submit)="search()">
          <input id="search" type="search" class="drink-search__input"
            placeholder="E.g.: Caipirinha"
            formControlName="searchInput"
            (input)="search()"
            />
          <button type="submit" class="drink-search__button">
            <img src="../../assets/images/search.svg" alt="Search" />
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="drink-search__result" id="result">
    <div *ngIf="results$ | async as result; else empty">
      <ul class="drink-list" *ngIf="result.drinks as drinks; else notFound">
        <li class="drink-list__item" *ngFor="let drink of drinks"
          [ngStyle]="{'background-image': 'url(' + drink.strDrinkThumb + ')'}">
          <button href="#" class="drink-list__button"
            (click)="toggleVisibility(preview)">
            <img class="drink-list__image" src="{{ drink.strDrinkThumb }}"
              alt="" />
            <div class="drink-list__content">
              <div class="drink-list__title">
                <h4 class="drink-list__heading">{{ drink.strDrink }}</h4>
              </div>
            </div>
          </button>
          <div class="drink-list__preview" #preview>
            <p class="drink-list__text">{{ drink.strInstructions }}
              <a class="drink-list__link" routerLink="/drink/{{ drink.idDrink }}">
                Show details
              </a>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #empty>
      <div class="drink-search__message" id="message-empty">
        <div class="drink-search__symbol">
          <img class="drink-search__image drink-search__image-cocktail" src="../../assets/images/cocktail.svg" alt="" />
        </div>
        <p class="drink-search__message-text">Search for a cocktail in the field above.</p>
      </div>
    </ng-template>

    <ng-template #notFound>
      <div class="drink-search__message" id="message-notFound">
        <div class="drink-search__symbol">
          <img class="drink-search__image" src="../../assets/images/question-mark.svg" alt="" />
        </div>
        <p>Nothing found. Try another cocktail.</p>
      </div>
    </ng-template>
  </div>
</div>