<div class="drink-detail" *ngIf="drink as result">
  <div class="drink-detail__overlay" (click)="goBack();">
    <div class="drink-detail__modal" (click)="$event.stopPropagation();">

      <div *ngFor="let d of result.drinks">
        <h2 class="drink-detail__heading">{{ d.strDrink }}</h2>
        <img class="drink-detail__image" src="{{ d.strDrinkThumb }}" alt="" />
        <dl class="drink-detail__list">
          <div class="drink-detail__list-group">
            <dt class="drink-detail__title">Category</dt>
            <dd class="drink-detail__data">{{ d.strCategory }}</dd>
          </div>
          <div class="drink-detail__list-group">
            <dt class="drink-detail__title">Alcoholic</dt>
            <dd class="drink-detail__data">{{ d.strAlcoholic }}</dd>
          </div>
          <div class="drink-detail__list-group">
            <dt class="drink-detail__title">Glass</dt>
            <dd class="drink-detail__data">{{ d.strGlass }}</dd>
          </div>
        </dl>
        <h3 class="drink-detail__subheading">Ingredients</h3>
        <dl class="drink-detail__list drink-detail__sublist">
          <div class="drink-detail__list-group" *ngFor="let i of getIngredients(d)">
            <dt class="drink-detail__title">{{ i.ingredient }}</dt>
            <dd class="drink-detail__data">{{ i.measure }}</dd>
          </div>
        </dl>
        <h3 class="drink-detail__subheading">Instructions</h3>
        <p class="drink-detail__instructions">{{ d.strInstructions }}</p>
        <button class="drink-detail__button" (click)="goBack()">
          Close
        </button>
      </div>

    </div>
  </div>
</div>
